---
layout: default
title: Tang lab
categories:
 - home
---

<div class="row">
	
	
<div class="col-lg-12">
  <div class="logo-container">
    <object class="biglogo" data="/images/2023-5-17-frontpage.jpg" type="image/png"></object>
  </div>
  <div class="bigtitle logobox">
    <!-- Title content goes here -->
  </div>

	
	
	</div>
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="mx-5" >
		<div class="smallhead">
      <p>
		My general research interests l....... 
      </p>
      <p>
		A major research focus in my.....
      </p>
	  <p>
		I'm actively recruiting enthusiastic graduate students and postdocs to  <a class="on" href="/misc/join/">join</a>  my group.
		Please checkout our <a class="on" href="/research/">research</a>  to learn about current research directions.
		
	  </p>
		
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-lg-12">
		<div class="head">
			<a class="off" href="/news/">News</a>
		</div>
		<div class="spacer"></div>
	</div>
</div>

<div class="row">
	{% for post in site.categories.news limit:4 %}

	{% for member in site.categories.team %}
		{% if member.title == post.author %}
			{% assign author = member %}
		{% endif %}
	{% endfor %}

	<div class="col-lg-3 reduced-gutter">
		<div class="pad-left">
			<div class="note">
				<i class="fa fa-comment-o fa-fw"></i>
				<a class="off" href="{{ post.url }}">
				{{ post.title }}
				</a>
			</div>
			<div class="smallspacer"></div>
			<div class="smallnote">
				Posted
				{{ post.date | date: "%-d %b %Y" }}
        {% if post.author %}
        by <a class="off" href="
          {% for member in site.categories.team %}
            {% if member.title == post.author %}
              {{ member.url }}
            {% endif %}
          {% endfor %}
        ">
        {{ post.author }}
        </a>
        {% endif %}
        {% if post.authors %}
        by
        <a class="off" href="
          {% for member in site.categories.team %}
            {% if member.title == post.authors.first %}
              {{ member.url }}
            {% endif %}
          {% endfor %}
        ">
        {{ post.authors.first }}
        </a>
        and
        <a class="off" href="
          {% for member in site.categories.team %}
            {% if member.title == post.authors.last %}
              {{ member.url }}
            {% endif %}
          {% endfor %}
        ">
        {{ post.authors.last }}
        </a>
        {% endif %}
			</div>
			<div class="bigspacer"></div>
		</div>
	</div>
	{% endfor %}
</div>

<div class="spacer"></div>

<div class="row">
	<div class="col-lg-12">
		<div class="head">
			<a class="off" href="/papers/">Recent papers</a>
		</div>
		<div class="spacer"></div>
	</div>
</div>

<div class="row">
	{% for paper in site.categories.papers limit:4 %}
	<div class="col-lg-3 reduced-gutter">
		<div class="pad-left">
			<div class="note">
				<i class="fa fa-file-text-o fa-fw"></i>
				<a class="off" href="{{ paper.url }}">
				{{ paper.title }}
				</a>
			</div>
			<div class="smallspacer"></div>
			<div class="smallnote">
				Posted
				{{ paper.date | date: "%-d %b %Y" }}
			</div>
			<div class="spacer"></div>
		</div>
	</div>
	{% endfor %}
</div>

<div class="spacer"></div>




<div class="row">
	<div class="col-lg-12">
		<div class="head">
			Misc
		</div>
		<div class="spacer"></div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 reduced-gutter">
		<div class="pad-left">
			<ul class="list-inline">
				{% for page in site.categories.misc %}
				<li class="footernav list-inline-item">
					<i class="fa fa-angle-right"></i> <a class="off" href="{{ page.url }}">{{ page.title }}</a>
				</li>
				{% endfor %}
				<li class="footernav list-inline-item">
					<i class="fa fa-angle-right"></i> <a class="off" href="https://www.uta.edu/academics/schools-colleges/science/departments/biology/">Department of Biology</a>
				</li>
			</ul>
		</div>
		<div class="spacer"></div>
	</div>
</div>


<p>Last modified on {{ site.time | date: "%m/%d/%Y" }}</p>

